.PageFilm {
    display: flex;
    flex-direction: column;
    // height: 100vh;
    text-align: center;
    // padding: 0 25px;
    background-color:#0E0E0E;
    &--header {
        margin: 0 0 7%;
        padding-top: 5%;
        position: relative;
        height: 40vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        video {
            width: 100%;
            position: absolute;
            left: 0;
            top: -70px;
            height: 140%;
            object-fit: cover;
        }
        img {
            position: absolute;
            z-index: 1;
            width: 90%;
            max-width: 400px;
        }
    }
    &--warning {
        background-color: crimson;
        padding: 5%;
        margin: 0 5% 8% 5%;
        border-radius: 25px;
        img {
            width: 30px;
        }
        p {
            color: #FFF;
            font-size: 1.4rem;
            font-weight: 600;
        }
        a {
            text-decoration: none;
        }
    }
    &--main {
        display: flex;
        justify-content: center;
        align-items: center;
        &__maxwidth {
            max-width: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;
        }
        img {
            max-width: 200px;
            height: 290px;
            width: 100%;
            object-fit: cover;
            // margin: 0 15px;
        }
        a {
            max-width: 200px;
            width: 40%;
            position: relative;
            display: flex;
            justify-content: center;
        }
        .jusqua {
            position: absolute;
            z-index: 1;
            bottom: 0;
            background-color: #0E0E0E;
            width: 100%;
            opacity: 70%;
        }
        p {
            color: #FFF;
            font-weight: 700;
            margin: 4%;
        }
    }
    &--footer {
        padding: 7% 0 5%;
        color: azure;
        img {
            width: 30px;
        }
    }
}

.pagePassword {
    background: url('../../assets/film/backgroundPassword.jpg');
    height: 100vh;
    text-align: center;
    padding-top: 30vh;
    img {
        z-index: 1;
        width: 90%;
        max-width: 400px;
        margin-bottom: 30px;
    }
    form {
        display: flex;
        align-items: center;
        // width: 40%;
        max-width: 250px;
        margin: auto;
        input {
            padding: 10px;
            border-radius: 20px;
            border: none;
            box-shadow: 0px 0px 20px #fff;
            text-align: center;
            text-decoration: inherit;
            font-size: 20px;
            margin-bottom: 20px;
            height: 40px;
            margin: 0;
            outline: none;
        }
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 30px;
            background-color: transparent;
            border: none;
            img {
                margin: 0;
                width: 50px;
                cursor: pointer;
                position: relative;
            }
        }
    }
    section {
        margin: 40px auto auto auto;
        width: 90%;
        cursor: pointer;
        max-width: 400px;
        p {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #fff;
            line-height: 25px;
            border: #0E0E0E solid 2px;
            padding: 15px;
            border-radius: 15px;
            background-color: #3939392c;
        }
    }
    a {
        text-decoration: inherit;
    }
    a:hover {
        p {
            background-color: #8e8e8e2c;
        }
    }
    .streamingError {
        color: crimson;
        font-weight: 700;
    }
}

@media screen and (max-width: 400px) {
    .PageFilm {
        &--main {
            img {
                width: 200px;
            }
            a {
                width: 200px;
            }
        }
    }  

}

@media screen and (max-width: 420px) {
    .pagePassword {
        form {
            margin: 0 0 0 10%;
        }
    }  
    
}